[submodule "sensor-reader"]
	path = sensor-reader
	url = https://github.com/MIT-CityFARM/sensor-reader.git
[submodule "pysensorlib"]
	path = pysensorlib
	url = https://github.com/MIT-CityFARM/pysensorlib.git
